body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #aaaaaa;
  background-color: #555555;
  margin: 0.05rem;
}

.wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.phase {
  text-align: center;
  color: #aaaaaa;
}

.notification {
  color: #aaaaaa;
}
